:root {
    --back-clr: #fff;
    --back-clr-alt: #650065;
    --clr-header: #eee;
    --clr-heading: #111;
    --clr-text: #333;
    --font-heading: 'Roboto', sans-serif;
    --font-text: 'Times New Roman', serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--back-clr);
    color: var(--clr-text);
    font-family: var(--font-text);
}

a {
    text-decoration: none;
}

nav a {
    color: var(--back-clr-alt);
    font-size: 1.2rem;
    font-weight: 600;
    padding: .5rem 1rem;
    font-family: var(--font-heading);
}

nav a:hover {
    color: var(--clr-header);
    background-color: var(--back-clr-alt);
}

h1,
h2,
h3 {
    color: var(--clr-heading);
    font-family: var(--font-heading);
}

h1 {
    text-align: center;
    margin: 1rem auto;
}

header h2 {
    color: var(--clr-header);
    margin-left: 2rem;
}

header {
    background-color: var(--back-clr-alt);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

/* main {
    max-width: 500px;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
} */

footer {
    margin: 3rem 0;
    text-align: center;
    background-color: var(--back-clr-alt);
    color: var(--clr-header);
    padding: 1rem;
}

img {
    width: 100%;
    height: auto;
}

nav {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 10;
}

.templeCards img {
    margin-top: 1rem;
    border: 1px solid #555;
}

.templeCards div {
    background-color: #ddd;
    padding: 0 1rem 1rem;
    border: 2px solid #777;
    border-radius: .5rem;
}

.templeCards {
    max-width: 500px;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.templeCards p,
.templeCards h2 {
    text-align: center;
    margin-top: .5rem;
}

.navigation {
    list-style: none;
    margin: 0;
    padding: 1rem;
}

.navigation li {
    display: none;
}

.navigation li:hover {
    background-color: var(--back-clr);
}

.navigation.show {
    background-color: var(--back-clr);
    border: 2px solid var(--back-clr-alt);
    border-top: none;
}

.show li {
    display: block;
    width: 100%;
    padding: .5rem 1rem;
    text-align: center;
}

#menu {
    display: block;
    padding: .5rem 2rem;
    margin-left: auto;
}

#menu::before {
    content: '≡';
    font-size: 2rem;
    font-weight: 700;
    color: var(--clr-header);
}

#menu.show::before {
    content: 'x';
    font-family: var(--font-heading);
}