:root {
    --clr-prim: #0048a0;
    --clr-sec: #ffe9ab;
    --clr-div: #ffe9ab7d;
    --clr-hero: #ffe9abdc;
    --max-width-hero: 900px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Default (mobile view) */
header {
    max-width: 50%;
    background-color: var(--clr-prim);
    color: var(--clr-sec);
    text-align: center;
    margin: 1rem auto;
    padding: 0.5rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    background-color: var(--clr-prim);
    color: var(--clr-sec);
    text-align: center;
    margin-top: 2rem;
    padding: .5rem;
}

.hero img {
    width: min(var(--max-width-hero), 100vw - 2rem);
    margin: 0 auto;
    display: block;
}

.data,
.weather {
    margin-top: 1rem;
    margin-inline: auto;
    text-align: center;
    background-color: var(--clr-div);
    color: #000;
    padding: 1rem;
    width: calc(100% - 2rem);
}

.data li,
.weather li {
    list-style-type: none;
    margin: 4px;
}

.data ul,
.weather ul {
    padding: 4px;
}


/* Wide Screen */
@media (min-width: 615px) {

    .weather img {
        display: none;
    }

    .weather h2::after {
        content: "⛅";
    }

    .hero-wrapper {
        --hero-size: min(var(--max-width-hero), 100vw - 2rem);
        --weather-block-height: clamp(8.5rem, 14vw, 10.5rem);

        width: var(--hero-size);
        margin-inline: auto;
        position: relative;
    }

    .hero img {
        width: min(var(--max-width-hero), 100vw - 2rem);
        margin: 0 auto;
        display: block;
    }

    .data,
    .weather {
        margin-top: 0;
        padding: 0;
        right: 1rem;
        width: 220px;
        font-size: 0.9rem;
        background-color: var(--clr-hero);
        border-radius: .5rem;
        position: absolute;
    }

    .data {
        bottom: 10.5rem;
    }

    .weather {
        bottom: 1rem;
    }

    .data ul,
    .weather ul {
        padding: calc(var(--hero-size) * 0.015);
    }
}